﻿@model MonthlyHoursResults
    @if (Model != null)
    {
<div>
    <table class="table">
        <tr>
            <td>Employee Name</td>
            <td>Scheduled Hours</td>
        </tr>
        <tr>
            <td>
                @(Model.FirstName + " " + Model.LastName)
            </td>
            <td>
                @Model.ScheduledHours
            </td>
        </tr>
    </table>
</div>
    }