﻿@{
    ViewData["Title"] = "Employee shifts";
}

<nav class="navbar navbar-default">
    @model QueryMonthlyHours
    <div class="row" style="display:grid;grid-row-gap:10px">
        @using (Html.BeginForm("", "", FormMethod.Post, new { id = "sform" }))
        {
            <div class="col-md-3">
                @Html.LabelFor(m=>m.EmployeeId, "Employee")
                @Html.DropDownListFor(m=>m.EmployeeId, Model.Employees.Select(e=>new SelectListItem { Text=$"{e.FirstName} {e.LastName}", Value=e.EmployeeId.ToString()}), new { @class="selectpicker", data_live_search="true"})
                <span asp-validation-for="EmployeeId" class="text-danger">
                </span>
            </div>

            <div class="col-md-3">
                <div class="container">
                    <div class="row">
                        <div class='col-sm-3'>
                            <label for="month-picker">Month</label>
                            <span asp-validation-for="SelectedMonth" class="text-danger">
                            </span>
                            <div class='input-group date' id='month-picker'>
                                @Html.TextBoxFor(m=>m.SelectedMonth, new { @class="form-control"})
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <script type="text/javascript">
                            $('#month-picker').datepicker({
                                minViewMode: 'months',
                                viewMode: 'months',
                                format: 'MM yyyy',
                                autoclose: true,
                                pickTime: false
                            })
                        </script>
                    </div>
                </div>
            </div>
        }
        <div class="col-md-1">
                <button class="btn btn-primary" id="update-button">Update</button>
        </div>
    </div>
</nav>
<div class="container" id="monthly-hours-view">
</div>
<script type="text/javascript">
    $("#update-button").click(function () {
        var form = $("#sform")
        form.validate()
        if (form.valid())
        {
            $.ajax({
                url: "@Url.Action("GetMonthlyHours", "Home")",
                type: "post",
                data: $("#sform").serialize(),
                success: function (result) {
                    $("#monthly-hours-view").html(result);
                },
                error: function (error) { alert("An error has occured.") }
            });

        }
    })
</script>